/*
$pink: #e3198a;
$pink2: saturate($pink, 20%);
$green: #00a59c;
$green2: saturate($green, 20%); 
$purple: #5c216c;
$purple2: saturate($purple, 20%);
$blue: #252d66;
$blue2: saturate($blue, 20%);

$aqua: darken(#008bef, 5%);

$black: #32322c;
$dark: #4a4d47;
$light: #f2f0ef;
*/

/* Make the tiled background */
body {
	background-color: #4a4d47;
	overflow-x: hidden;
	background: url('images/hex-tile.jpg') repeat;
  background-attachment: fixed;
  position: relative;
}

/* Add the fun transparent gradient on top of it */
body:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;	
		left: 0;
    background: 
      radial-gradient(farthest-corner at bottom left, rgba(23,35,116,0.8) 15%, transparent),
      radial-gradient(farthest-side at top left, rgba(0,165,156,0.9), rgba(0,165,156,0.8) 30%, rgba(100,19,122,0.7) 60%, transparent),
      radial-gradient(farthest-side at top right, rgba(100,19,122,0.95), rgba(252,0,141,0.8) 200px, transparent),
      radial-gradient(farthest-corner at bottom right, rgba(0,165,156,0.8), rgba(0,165,156,0.9) 20%, rgba(23,35,116,0.9) 50%, transparent);
    background-attachment: fixed;
		z-index: -5;
}

footer {
  /* custom background color for footer: 100% white with 80% opacity */
  background-color: rgba(255, 255, 255, 0.8);
}

footer a {
  color: #6c757d !important;
}

footer h6 {
  border-bottom: 2px solid #00a59c; /* Add a greenish underline to footer subheaders */
  white-space: nowrap; /* Dont let text wrap to next line */
}